<div id="top">
    <a href="/"><img src="/bbc.PNG" alt="" id="bbc-img"></a> 
 </div>
<div id="menu-bar">
    <ul id="top-menu">
        <li class="top-menu-item"><a href="/contact-us"> ورلڈ </a></li>
        <li class="top-menu-item"><a href="/about-us"> آس پاس </a></li>
        <li class="top-menu-item"><a href="https://www.google.com"> پاکستان </a></li>
        <li class="top-menu-item"><a href="https://www.google.com">ۂ اول</a></li>
        <li class="top-menu-item"><a href="https://www.google.com">>صفحۂ او </a></li>
        <li class="top-menu-item"><a href="https://www.google.com">>صفحۂ اول </a></li>
        <li class="top-menu-item"><a href="https://www.google.com">>صفحۂ اول </a</li>
    </ul>
</div>