<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <%- include('./partials/top-menu') %>
    <div id="space">
        
    </div>
    <div id="header">      
        <div class="header-content">
            <h1 class="heading">
                <a href=""> 
                    
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem perferendis.</h1>
            <p>
            Lorem ipsum dolor sit,  suscipit, quibusdam assumenda. Dignissimos maiores expedita</p>
            <p>
            </p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
        </div>
        <div id="header-img"> 
            <img src="/pic1.PNG"  alt="">
            </div>
        
    </div>
    <div id="blogs">
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
        </a>
        </div>
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div >
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
            <a href="">
        <div class="blogs">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
        <div class="blogs">
            <a href="">
            <img src="/pic1.PNG" alt="" class="blog-img">
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi? Iure necessitatibus qui suscipit explicabo dolorum modi veritatis blanditiis sunt. Perferendis, quo. Necessitatibus, nesciunt voluptas a officia tenetur ipsam iste.</p>
            </a>
        </div>
    </div>
    <div id="top">
        <a href="index.html"><img src="/bbc.PNG" alt="" id="bbc-img"></a> 
     </div>
     <div id="footer">
        
     </div>

</body>
</html>